
Recipi API/Recipi API/obj/Debug/netcoreapp3.1/Recipe API.genruntimeconfig.cache
Recipi API/Recipi API/obj/Debug/netcoreapp3.1/Recipe API.csproj.FileListAbsolute.txt
Recipi API/.vs/Recipe API/v16/.suo
Recipi API/Recipi API/obj/Debug/netcoreapp3.1/Recipe API.genruntimeconfig.cache
